# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
env/
*.env
.env

# Editors
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# LangChain
chroma_db/

# Notebooks
.ipynb_checkpoints/

# Datasets / Cache
data/raw/
data/temp/

#docs not used
/data/csv/notUsed/
/OPENAI_API_KEY.txt
/LANGSMITH_API_KEY.txt
/Finetuned_model_ID.txt
